@top-color: rgba(61, 61, 60, 0.7);
@selection-color: rgba(158, 26, 31, 0.6);
@photo-title-color: rgba(158, 26, 31, 0.6);
@black-opacity-color:rgba(0, 0, 0, 0.5);
@background-color: black;

@template-width: 980px;
@font-family: Georgia;
@main-font-color: white;
@second-font-color: white;

@top-height: 135px;

@big-photo-width: 670px;
@big-photo-height: 919px;

@small-photo-width: 273px;
@small-photo-height: 161px;

@big-font-size: 18px;
@normal-font-size: 14px;

@normal-interblock-margin:20px;

article p
{
	padding: 10px;
	text-indent: 1.5em;
}

body
{
	font-family: @font-family;
	background: @background-color url(/img/bg.jpg);

	color:@main-font-color;

	font-size: @normal-font-size;

	overflow-y:scroll;
}

header
{
	font-weight: bold;
	color:@second-font-color;
}

article
{
	font-size: 18px;
}

.alink
{
	cursor: pointer;
	text-decoration: none;
}

a.onphoto
{
	color:@second-font-color;
}

div.clear-both
{
	clear: both;
}

.container
{
	width: @template-width;
	min-width: @template-width;
}

div.header 
{
	background-color: @top-color;
	height: @top-height;
	margin-top: 15px;	
}

div.logo
{
	display: inline-block;
	float:left;
	font-size: 24px;
	padding-top: 50px;
	margin-left:40px;
	height: 100%;
	width: 112px;
	background: url('/img/logo-sq.png') no-repeat center;
}

div.header .nav
{
	display: inline-block;
	float: right;
	top: 0;
}

div.header .nav ul li
{
	display: inline-block;

	float: left;
	height: 135px;
	width: 120px;
	text-align: center;
	text-decoration: none;
	font-size: @big-font-size;

	padding-top: 50px;

	color:@main-font-color;
}

div.header .nav ul li a
{
	text-decoration: none;
	color:@second-font-color;

}

div.header .nav ul li.active
{
	text-decoration: none;
	background-color: @selection-color;
}

div.header .nav ul li:hover
{
	text-decoration: none;
	background-color: @selection-color;

}

div.partners 
{
	margin-top: -30px;
	margin-bottom: 20px;
	/*background-color: @black-opacity-color;*/
}

div.partners header
{
	color:@second-font-color;
	font-weight: normal;
	margin-bottom: 0px;
	padding-left: 20px;
	background-color: @selection-color;
}

div.content
{
	padding-top: @normal-interblock-margin;
	background: @black-opacity-color;
}

div.footer
{
	position: relative;
	height:100px;
	background-color: @top-color;
	color:@second-font-color;

	margin-bottom: 10px;
}

div.footer a
{
	color:@second-font-color;
}

div.photo.small
{
	float:right;
	margin-bottom: 21px;
}

div.photo.small img
{	
	min-width:@small-photo-width;
	min-height:@small-photo-height;
	width:@small-photo-width;
	height:@small-photo-height;
}

div.photo.special
{
	float:left;
	text-align: center;
	margin-bottom: 21px;
	margin-left:40px;
}

div.photo.special img
{	
	height:194px;
}

div.portfolio-row .photo.small
{
	float:left;
	margin-left: 65px;
}

div.portfolio-row a:first-child .photo.small
{
	float:left;
	margin-left: 0px;	
}

div.portfolio-row .photo.small p.description
{
}

div.portfolio-row a
{
	color: white;

}

div.photo.small p.description
{
	background-color: @photo-title-color;
	width:100%;
	text-align: center;
	font-size: @big-font-size;
	padding-top: 10px;
	padding-bottom: 10px;

	max-width: @small-photo-width;
	word-wrap: break-word;

	text-indent: 0;
	padding-left:0;
	padding-right:0;
}

header
{
	margin-top: @normal-interblock-margin;
	margin-bottom: @normal-interblock-margin;
	background-color: @top-color;
	padding-left: 20px;
	font-size: @big-font-size;

	padding-top: 8px;
	padding-bottom: 8px; 
}

article
{
	margin-bottom: @normal-interblock-margin;
}

div.footer p
{
	font-size:@normal-font-size;
}

div.footer p.copyright
{
	position: absolute;
	left:0;
	bottom: 0;
	padding-left: 20px;
}

div.footer p.addr
{
	position: absolute;
	right:0;
	bottom: 0;
	padding-right: 20px;
}

div#big-photos
{
	min-width:@big-photo-width;
	min-height:@big-photo-height;
	width:@big-photo-width;
	height:@big-photo-height;
	float:left;
}

table th 
{
	padding-left: 20px;
	border-top:1px solid #fafafa; 
	border-bottom:1px solid #e0e0e0; 
	background-color: @top-color;
	vertical-align: middle;
} 

table p
{
	padding: 0;
	margin: 0;
}

table th, table td
{
	padding-top: 10px;
	padding-bottom: 10px;
}

table th:first-child
{
	text-align: left;
	padding-left:20px;
}

table tr:first-child th:first-child
{
	-moz-border-radius-topleft:3px; 
	-webkit-border-top-left-radius:3px; 
	border-top-left-radius:3px;
} 

table tr:first-child th:last-child
{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
} 

table tr
{
	text-align: center;
	padding-left:20px;
}

table tr td:first-child
{ 
	text-align: left;
	padding-left:20px;
	border-left: 0;
} 

table tr td 
{
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
} 

table tr:last-child td
{ 
	border-bottom:0;
} 

table tr:last-child td:first-child
{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
} 

table tr:last-child td:last-child
{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
} 

table tr:hover td
{
	background-color: @top-color;
}

article form
{
	padding:0 30px 30px 30px;
}

.feedbacks .feedback h2
{
	padding-left: 30px;
}

.feedbacks .feedback p
{
	padding-top: 0px;
	text-indent: 0em;
	padding-left: 30px;
}


.feedbacks .feedback
{
	padding-left: 0;
}

form#requestForm 
{
	font-size: 12px;
}

form#requestForm h2
{
	font-size: 14px;
}

form#requestForm input
{
	height: 20px;
}


.feedbacks-list .feedback
{

}