article p {
  padding: 10px;
  text-indent: 1.5em;
}
body {
  font-family: Georgia;
  background: #000000 url(/img/bg.jpg);
  color: #ffffff;
  font-size: 14px;
  overflow-y: scroll;
}
header {
  font-weight: bold;
  color: #ffffff;
}
article {
  font-size: 18px;
}
.alink {
  cursor: pointer;
  text-decoration: none;
}
a.onphoto {
  color: #ffffff;
}
div.clear-both {
  clear: both;
}
.container {
  width: 980px;
  min-width: 980px;
}
div.header {
  background-color: rgba(61, 61, 60, 0.7);
  height: 135px;
  margin-top: 15px;
}
div.logo {
  display: inline-block;
  float: left;
  font-size: 24px;
  padding-top: 50px;
  margin-left: 40px;
  height: 100%;
  width: 112px;
  background: url('/img/logo-sq.png') no-repeat center;
}
div.header .nav {
  display: inline-block;
  float: right;
  top: 0;
}
div.header .nav ul li {
  display: inline-block;
  float: left;
  height: 135px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding-top: 50px;
  color: #ffffff;
}
div.header .nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
div.header .nav ul li.active {
  text-decoration: none;
  background-color: rgba(158, 26, 31, 0.6);
}
div.header .nav ul li:hover {
  text-decoration: none;
  background-color: rgba(158, 26, 31, 0.6);
}
div.partners {
  margin-top: -30px;
  margin-bottom: 20px;
  /*background-color: @black-opacity-color;*/
}
div.partners header {
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 0px;
  padding-left: 20px;
  background-color: rgba(158, 26, 31, 0.6);
}
div.content {
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.5);
}
div.footer {
  position: relative;
  height: 80px;
  background-color: rgba(61, 61, 60, 0.7);
  color: #ffffff;
  margin-bottom: 10px;
}
div.footer a {
  color: #ffffff;
}
div.photo.small {
  float: right;
  margin-bottom: 21px;
}
div.photo.small img {
  min-width: 273px;
  min-height: 161px;
  width: 273px;
  height: 161px;
}
div.photo.special {
  float: left;
  text-align: center;
  margin-bottom: 21px;
  margin-left: 40px;
}
div.photo.special img {
  height: 194px;
}
div.portfolio-row .photo.small {
  float: left;
  margin-left: 65px;
}
div.portfolio-row a:first-child .photo.small {
  float: left;
  margin-left: 0px;
}
div.portfolio-row .photo.small p.description {
  min-height: 70px;
}
div.portfolio-row a {
  color: black;
}
div.photo.small p.description {
  background-color: rgba(158, 26, 31, 0.6);
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 273px;
  word-wrap: break-word;
  text-indent: 0;
  padding-left: 0;
  padding-right: 0;
}
header {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(61, 61, 60, 0.7);
  padding-left: 20px;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}
article {
  margin-bottom: 20px;
}
div.footer p {
  font-size: 18px;
}
div.footer p.copyright {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 20px;
}
div.footer p.addr {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 20px;
}
div#big-photos {
  min-width: 670px;
  min-height: 919px;
  width: 670px;
  height: 919px;
  float: left;
}
table th {
  padding-left: 20px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
  background-color: rgba(61, 61, 60, 0.7);
  vertical-align: middle;
}
table p {
  padding: 0;
  margin: 0;
}
table th,
table td {
  padding-top: 10px;
  padding-bottom: 10px;
}
table th:first-child {
  text-align: left;
  padding-left: 20px;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
table tr:first-child th:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
table tr {
  text-align: center;
  padding-left: 20px;
}
table tr td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}
table tr td {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
table tr:hover td {
  background-color: rgba(61, 61, 60, 0.7);
}
article form {
  padding: 0 30px 30px 30px;
}
.feedbacks .feedback h2 {
  padding-left: 30px;
}
.feedbacks .feedback p {
  padding-top: 0px;
  text-indent: 0em;
  padding-left: 30px;
}
.feedbacks .feedback {
  padding-left: 0;
}
