<form onsubmit="site.sendRequest('#requestForm'); return false" id="requestForm" class="form">
	<h2>Оставьте заявку и мы Вам перезвоним</h2>
	<div class="form-group">
		<label for="requestFormName">Имя</label>
		<input class="form-control" type="text" id="requestFormName">
		<label for="requestFormPhone">Телефон</label>
		<input class="form-control" type="text" id="requestFormPhone">
		<label for="requestTextarea">Комментарий</label>
		<textarea class="form-control" type="text" id="requestTextarea">
		</textarea>
	</div>
	
	<button type="submit" class="btn btn-default">Отправить</button>
</form>	