<header>
	Ремонт и строительство коттеджей
</header>

<article>
	<div class="portfolio-row">
		<a href="/img/cottege/1.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/cottege/small/1.jpg"/>
			</div>
		</a>

		<a href="/img/cottege/2.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/cottege/small/2.jpg"/>
			</div>
		</a>

		<a href="/img/cottege/4.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/cottege/small/4.jpg"/>
			</div>
		</a>	
	</div>

	<div class="portfolio-row">
		<a href="/img/cottege/5.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/cottege/small/5.jpg"/>
			</div>
		</a>

		<a href="/img/cottege/6.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/cottege/small/6.jpg"/>
			</div>
		</a>

		<a href="/img/cottege/7.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/cottege/small/7.jpg"/>
			</div>
		</a>
	</div>	

	<div class="portfolio-row">
		<a href="/img/cottege/8.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/cottege/small/8.jpg"/>
			</div>
		</a>
		<a href="/img/cottege/9.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/cottege/small/9.jpg"/>
			</div>
		</a>
		<a href="/img/cottege/10.jpg" data-lightbox="roadtrip">
		<div class="small photo">
				<img src="/img/cottege/small/10.jpg"/>
		</div>
		</a>
	</div>	

	<div class="portfolio-row">
		<a href="/img/cottege/11.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/cottege/small/11.jpg"/>
			</div>
		</a>
		<a href="/img/cottege/12.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/cottege/small/12.jpg"/>
			</div>
		</a>
		<a href="/img/cottege/13.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/cottege/small/13.jpg"/>
			</div>
		</a>
	</div>	

	<div class="portfolio-row">
		<a href="/img/cottege/14.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/cottege/small/14.jpg"/>
			</div>
		</a>
	</div>	
</article>