<header>
	Ремонт квартир
</header>

<article>
	
	<div class="include_element requestForm"  href="requestForm"></div>
	<div class="clear-both"></div>

	<div class="portfolio-row">
		<a href="/img/flat/1.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/1.jpg"/>
			</div>
		</a>
		
		<a href="/img/flat/2.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/2.jpg"/>
			</div>
		</a>

		<a href="/img/flat/3.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/3.jpg"/>
			</div>
		</a>
	</div>

	<div class="portfolio-row">
		<a href="/img/flat/4.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/4.jpg"/>
			</div>
		</a>
		
		<a href="/img/flat/5.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/5.jpg"/>
			</div>
		</a>

		<a href="/img/flat/6.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/6.jpg"/>
			</div>
		</a>
	</div>	

	<div class="portfolio-row">
		<a href="/img/flat/7.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/7.jpg"/>
			</div>
		</a>

		<a href="/img/flat/8.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/8.jpg"/>
			</div>
		</a>

		<a href="/img/flat/9.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/9.jpg"/>
			</div>
		</a>
	</div>	

	<div class="portfolio-row">
		<a href="/img/flat/10.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/10.jpg"/>
			</div>
		</a>

		<a href="/img/flat/11.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/11.jpg"/>
			</div>
		</a>

		<a href="/img/flat/12.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/12.jpg"/>
			</div>
		</a>
	</div>	

	<div class="portfolio-row">
		<a href="/img/flat/13.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/13.jpg"/>
			</div>
		</a>

		<a href="/img/flat/14.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/14.jpg"/>
			</div>
		</a>

		<a href="/img/flat/15.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/15.jpg"/>
			</div>
		</a>
	</div>	

	<div class="portfolio-row">
		<a href="/img/flat/16.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/16.jpg"/>
			</div>
		</a>

		<a href="/img/flat/17.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/17.jpg"/>
			</div>
		</a>

		<a href="/img/flat/18.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/flat/small/18.jpg"/>
			</div>
		</a>
	</div>
</article>