<header>
	Ремонт офисов
</header>

<article>
	<div class="portfolio-row">
		<a href="/img/office/1.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/office/small/1.jpg"/>
			</div>
		</a>
		
		<a href="/img/office/2.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/office/small/2.jpg"/>			
			</div>
		</a>

		<a href="/img/office/3.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/office/small/3.jpg"/>
			</div>
		</a>
	</div>

	<div class="portfolio-row">
		<a href="/img/office/4.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/office/small/4.jpg"/>
			</div>
		</a>
		
		<a href="/img/office/5.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/office/small/5.jpg"/>
			</div>
		</a>

		<a href="/img/office/6.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/office/small/6.jpg"/>
			</div>
		</a>
	</div>	
	<div class="portfolio-row">
		<a href="/img/office/7.jpg" data-lightbox="roadtrip">
			<div class="small photo">
				<img src="/img/office/small/7.jpg"/>
			</div>
		</a>
	</div>	
</article>