<header>
	О копании
</header>

<article>
	<p>
		Компания ООО«Авелон-АРТ» предлагает полный спектр услуг по ремонту, отделке, реконструкции квартир, загородных домов, коттеджей и нежилых помещений в Новосибирске.
	</p>
	<p>
	Отделка квартир, ремонт квартир, коттеджей и нежилых помещений производятся специалистами высокой квалификации в соответствии с разработанной технической и дизайнерской документацией и с использованием самых передовых технологий и материалов, а так же под постоянным надзором дизайнеров, технологов и инженеров компании. Отделочные работы выполняются в строгом соответствии с требованиями производителей материалов.
	</p>
	<ul>
		<li>Наши сотрудники - квалифицированные профессионалы с многолетним опытом работы.</li>
		<li>Цены на услуги нашей компании приятно вас удивят.</li>
		<li>В работе мы используем только качественные европейские стройматериалы.</li>
		<li>Мы даем гарантию на весь перечень работ.</li>
	</ul>
	<p>
	Ремонт квартир от ООО "Авелон-АРТ" - это выгодное вложение ваших средств. Вы не только сэкономите существенную сумму денег, так как сможете четко контролировать все расходы, но и убережете себя от переживаний по поводу качества выполненных работ. Многолетний опыт каждого из наших сотрудников позволяет нам с уверенностью говорить о том, что мы готовы с максимальной точностью воплотить в жизнь ваши самые смелые идеи.
	Обращайтесь к нам, если вы хотите получить высококачественный сервис на выгодных условиях. Ждем ваших звонков!
	</p>
</article>