<header>
	Контакты
</header>

<article>
	<p><strong>E-mail</strong>: Avelon.Art@bk.ru</p>
	<p><strong>Телефоны:</strong></p>
	<p>310-60-58</p>
	<p>+7 983 308-25-11</p>
	<p>+7 913 204-51-11</p>
	<p><strong>Строительство, ремонтные и отделочные работы.</strong></p>

	<div class="include_element requestForm"  href="requestForm"></div>
</article>
