<header>
	Отзывы
</header>

<article>
	<form onsubmit="site.sendFeedback('#feedbackForm'); return false" id="feedbackForm" class="form">
		<div class="form-group">
			<label for="feedbackFormName">Имя</label>
			<input class="form-control" type="text" id="feedbackFormName">
			<label for="feedbackFormText">Отзыв</label>
			<textarea class="form-control" id="feedbackFormText">
			</textarea>
		</div>
		
		<button type="submit" class="btn btn-default">Отправить</button>
	</form>
	<div class="feedbacks">
	</div>
	<script type="text/javascript">
		$( document ).ready(function() {
			site.feedbacks()
		});
	</script>	
</article>
