<article>
	<div id="big-photos" class="carousel slide" data-ride="carousel" data-interval="5000">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#big-photos" data-slide-to="0" class="active"></li>
			<li data-target="#big-photos" data-slide-to="1"></li>
			<li data-target="#big-photos" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="/img/big5.jpg" alt="1">
				<div class="carousel-caption">
				</div>
			</div>

			<div class="item">
				<img src="/img/big4.jpg" alt="2">
				<div class="carousel-caption">
				</div>
			</div>

			<div class="item">
				<img src="/img/big6.jpg" alt="3">
				<div class="carousel-caption">
				</div>
			</div>   
		</div>
	</div>

	<a class="alink onphoto" href="/#!/special.html">
		<div class="special photo">
			<img src="/img/special.png">
		</div>		
	</a>	

	<a class="alink onphoto" href="/#!/portfolio/flat.html">
		<div class="small photo">
			<img src="/img/flat.jpg"/>
			<p class="description">Ремонт квартир</p>
		</div>	
	</a>

	<a class="onphoto">
		<div class="small photo">
			<img src="/img/office.png"/>
			<p class="description">Ремонт офисов</p>
		</div>		
	</a>

	<a class="onphoto">
		<div class="small photo">
			<img src="/img/building.png"/>
			<p class="description">Строительство и ремонт коттеджей</p>
		</div>
	</a>
</article>

<div class="clear-both"></div>

<div class="partners">
	<header>
		Наши партнеры:
	</header>
	<a target="_blank" href="http://mezonin.recrm.ru/">
		<img src="/img/partner1.png" alt="Мезонин"></img>
	</a>
</div>

<script type="text/javascript">
	$('#big-photos').carousel('cycle');
</script>