<nav>
	<a href="/index.html" class="alink">Главная</a>
	<a href="/about.html" class="alink">О нас</a>
	<a href="/portfolio/" class="alink">Портфолио</a>
	<a href="/prices.html" class="alink">Цены</a>
	<a href="/contacts.html" class="alink">Контакты</a>
	<a href="/feedback.html" class="alink">Отзывы</a>
</nav>