<header>
	Портфолио 
</header>

<article>
	<div class="portfolio-row">
		<a href="/#!/portfolio/flat.html" class="alink onphoto">
			<div class="small photo">
				<img src="/img/flat.jpg"/>
				<p class="description">Ремонт квартир</p>
			</div>
		</a>
		<!--
		<a href="/#!/portfolio/office.html" class="alink onphoto">
			<div class="small photo">
				<img src="/img/office.png"/>
				<p class="description">Ремонт офисов</p>
			</div>
		</a>

		<a href="/#!/portfolio/cottege.html" class="alink onphoto">
			<div class="small photo">
				<img src="/img/building.png"/>
				<p class="description">Строительство и ремонт коттеджей</p>
			</div>
		</a>
		-->
	</div>

</article>