<header>
	Прайс на ремонт, отделку жилых и офисных помещений
</header>
<article>
	<div class="include_element requestForm" href="requestForm"></div>
	<div class="clear-both"></div>

	<table width="100%" cellspacing="0" cellpadding="0">
		<thead>
			<tr>
				<th width="317">
					<p align="center">Наименование работ</p>
				</td>
				<th width="78">Ед. изм.</th>
				<th width="83">Цена, руб.</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th colspan="3">
					<p align="center">Полы</p>
				</th>
			</tr>
			<tr>
				<td>
					<p align="center">Демонтажные работы</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж старого плинтуса</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">25</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж деревянных полов</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от 120</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж старого паркета</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от 75</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж старого, не проклеенного покрытия</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от 30</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж старого, проклеенного покрытия (1 слой)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;77</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж	ламината</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 55</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Снятие керамогранитной плитки</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 80</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж мет.порожков</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">35</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж стяжки</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 150</p>
				</td>
			</tr>
			<tr>
				<td>
					<p align="center">Монтажные работы</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Грунтовка пола в один слой</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;29</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Бетонная
					(цементно-песчаная) стяжка толщиной до 100 мм от 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 290</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Бетонная
					(цементно-песчаная) стяжка толщиной до 100 мм до 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;370</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					маяков</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;65</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство
					армирования под стяжку</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">45</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Наливные
					(само выравнивающимся раствором) толщиной до 20 мм</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;260</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство
					гидроизоляции пола пленкой ПВХ</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;35</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство
					гидроизоляции рулонными материалами</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от 270</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Настил
					фанеры, или ДСП на готовое основание от 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 190</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Настил
					фанеры, или ДСП на готовое основание до 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 270</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Подсыпка
					керамзитом</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 60</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Настил
					паркета штучного на готовое основание до 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 850</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Настил
					щитового паркета (ламинат) на готовое основание</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">370</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Циклевка/шлифовка
					паркета. (Минимальный объем 20 м2 )</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 380</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Шпатлевка
					паркета</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 150</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Покрытие
					паркета лаком в 2 слоя</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;190</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Настил
					линолеума, ковровых покрытий от 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;160</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Настил
					линолеума, ковровых покрытий до 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;250</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					плинтуса</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">от 75</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					профильных порожков</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">190</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Окраска
					(покрытие лаком) плинтуса или наличника</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">77</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Укладка
					керамогранитной плитки ( 300х300 мм)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 550</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Укладка
					керамогранитной плитки ( 600х600 мм)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 650</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					плинтуса из керамогранитной плитки&nbsp; h-100мм</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">190</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					ревизионного или электроустановочного люка в полу<span style="color: #303030;"> </span></p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 1300</p>
				</td>
			</tr>
			<tr>
				<th colspan="3">
					<p align="center">Стены</p>
				</th>
			</tr>
			<tr>
				<td>
					<p align="center">Демонтажные работы</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж&nbsp;
					обшивки стен&nbsp; из ГКЛ</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 80</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж&nbsp;
					перегородок&nbsp; из ГКЛ</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 80</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					металлокаркаса со стен</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 40</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					перегородки из панелей ПВХ,МДФ</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 70</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					панелей ПВХ,МДФ, листов пластика со стен</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 35</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Снятие
					старых обоев&nbsp;</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;60</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Сбивка старой&nbsp; штукатурки&nbsp; </p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;120</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					деревянных дверных блоков (без сохранения)</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">250</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					деревянных дверных блоков (с сохранением)</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">480</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					оконных блоков</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 300</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					рам ПВХ со стеклопакетами</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 250</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					столешниц, подоконников</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 200</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Сбивка
					старой плитки</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;95</p>
				</td>
			</tr>
			<tr>
				<td>
					<p align="center">Монтажные работы</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Заделывание
					технологических отверстий и штроб в ГКЛ обшивке</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">100</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Заделывание
					штроб&nbsp; под элетропроводку в капитальных стенах</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">100</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж&nbsp;
					лючков в стене ГКЛ</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 150</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж&nbsp;
					радиаторных решеток</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">150</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					вентиляционных решеток</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">100</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					каркаса из профиля для обшивки стен панелями ПВХ, МДФ, ГКЛ</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;200</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					отбойника из мебельного щита , пластика</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от &nbsp;75</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					панелей ПВХ с металлокаркасом</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;325</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					панелей ПВХ, МДФ по готовому каркасу</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;125</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					уголка (ПВХ, МДФ)</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">70</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Локальный
					ремонт стен, потолков и обшивок из ГКЛ (до 1 м2)</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 400</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство&nbsp;
					перегородок из ГКЛ (1х1 слой)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от &nbsp;400</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство&nbsp;
					перегородок из ГКЛ (1х2 слоя)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;450</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство&nbsp;
					перегородок из ГКЛ (2х2 слоя)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;550</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Сплошная
					шпаклевка в 1 слой с ошкуриванием поверхности</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;150</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Сплошная
					шпаклевка в 2 слоя с ошкуриванием поверхности</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;240</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Финишный
					слой шпатлевки (под покраску)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;160</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Грунтовка
					стен в один слой</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;29</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					штукатурных маяков</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;45</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Штукатурка
					стен (по маякам) толщиной до 3 см.</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;320</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Штукатурка
					стен (по маякам) толщиной до 6 см.</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;520</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Выравнивание
					штукатурной смесью (под правило)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;240</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство
					малярного уголка (внутреннего/наружного)</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">90</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Оклейка
					стен обоями (без стыковки рисунка)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 170</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Оклейка
					стен обоями (со стыковкой рисунка)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 200</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Оклейка
					стен комбинированными обоями</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от &nbsp;270</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Покраска
					стен в 2 слоя</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 160</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Обшивка
					ГКЛ стен с установкой каркаса от 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;280</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Обшивка
					ГКЛ стен с установкой каркаса до 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;380</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство
					перегородок из ГКЛ до 10 м2 (1х1 слой)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;550</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Заделка
					стыков, шурупов на ГКЛ с проклейкой стыков сеткой</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;60</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Обшивка
					панелями, вагонкой от 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;350</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Обшивка
					панелями, вагонкой до 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;460</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство
					тепло-звукоизоляции стен</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;70</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Нанесение
					жидких обоев (без подготовки)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 650</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					откосов панелями ПВХ, МДФ</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">250</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Окраска
					откосов (за два раза)&nbsp;</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">от 120</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство
					перегородок из пеноблоков</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от &nbsp;300</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство
					перегородок из кирпича</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p>от&nbsp;&nbsp;&nbsp;&nbsp;
					400</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					дверного блока + установка наличника</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 2700</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					доборной планки (до 5 см.)</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">144</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					готовой арки</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 1600</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство
					арочного проема из ГКЛ</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 2200</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					наличника</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">115</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Мытье
					окон после окончания работ</p>
				</td>
				<td>
					<p align="center">окно</p>
				</td>
				<td>
					<p align="center">432</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Оконные
					откосы внутренняя обшивка ГКЛ</p>
				</td>
				<td>
					<p align="center">окно</p>
				</td>
				<td>
					<p align="center">от 1920</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Оконные
					откосы внутренняя штукатурка&nbsp;&nbsp;&nbsp; </p>
				</td>
				<td>
					<p align="center">окно</p>
				</td>
				<td>
					<p align="center">от 1900</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Шпаклевка
					и покраска оконных откосов</p>
				</td>
				<td>
					<p align="center">окно</p>
				</td>
				<td>
					<p align="center">от 550</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					подоконной столешницы (на готовое основание)</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 672</p>
				</td>
			</tr>
			<tr>
				<td>
					<p align="center">Облицовка кафельной плиткой</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Подготовка
					поверхности (зачистка от старого клея)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">105</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Выравнивание
					поверхности (под правило)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;211</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Нанесение
					насечки на стене</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;95</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Грунтовка</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;29</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Укладка
					кафельной плитки на клей (на готовое основание)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 670</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					бордюра</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">от 280</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Затирка
					шва</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;95</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					углового профиля</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">от 140</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство
					наружного угла (под шов)</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">от 380</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					ревизионного люка встроенного</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 1440</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Сверление
					отверстий под трубы</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">154</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Сверление
					отверстий под дюбель</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">58</p>
				</td>
			</tr>
			<tr>
				<th colspan="3">
					<p align="center">Потолок</p>
				</th>
			</tr>
			<tr>
				<td>
					<p align="center">Демонтажные работы</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Размывка,
					зачистка потолка</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;
					80</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					потолка "Армстронг"</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от &nbsp;40</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					потолка ГКЛ</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 80</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Снятие
					обоев с потолка</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;80</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Сбивка
					штукатурки (незакрепленных частей)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;160</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					потолок из панелей ПВХ,МДФ</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 70</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					тепло-, звукоизоляции.</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 15</p>
				</td>
			</tr>
			<tr>
				<td>
					<p align="center">Монтажные работы</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Грунтовка
					потолка в один слой</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;40</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Сплошная
					шпаклевка в один слой с ошкуриванием поверхности</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 220</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Сплошная
					шпаклевка в два слоя с ошкуриванием поверхности</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 350</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Финишный
					слой шпатлевки (под покраску)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;240</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Выравнивание
					штукатурной смесью</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">350</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Штукатурка
					по маякам толщиной слоя до 1 см</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">450</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Оклейка
					армирующей сеткой</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">90</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Покраска
					потолков в 2 слоя</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">&nbsp;от 190</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Штукатурка
					рустов на потолке</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">&nbsp;140</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Обшивка
					потолка ГКЛ от 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">420</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Обшивка
					потолка ГКЛ до 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">650</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Обшивка
					потолка ГКЛ в 2 уровня прямолинейный</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от 800</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Обшивка
					потолка ГКЛ в 2 уровня криволинейный</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от 1200</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Шпатлёвка
					потолка ГКЛ</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от 220</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Заделка
					стыков,шурупов на ГКЛ с проклейкой стыков сеткой</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">70</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					подвесных/реечных потолков от 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от 460</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					подвесных/реечных потолков до 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">580</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Обшивка
					панелями, вагонкой до 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">520</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Обшивка
					панелями, вагонкой от 10 м2</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">430</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Окраска
					плит заполнения потолка типа "Армстронг"</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">50</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж-монтаж
					плит заполнения потолка типа "Армстронг"</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">70</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					вентиляционных решеток</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">250</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Усиление
					существующего потолка подвесами (ремонт потолка типа Армстронг)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">120</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство
					подвесного потолка ( типа Армстронг)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от 200</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство
					подвесного потолка (типа Грильято)</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от 400</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					панелей ПВХ, МДФ на потолок</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">200</p>
				</td>
			</tr>
			<tr>
				<th colspan="3">
					<p align="center">Электромонтажные работы</p>
				</th>
			</tr>
			<tr>
				<td>
					<p align="center">Демонтажные работы</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					старой эл.точки</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">180</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					электрощита</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 240</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					светильников</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 70</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					кабель-каналов, короба ПВХ</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">10</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					розеток, выключателей</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 40</p>
				</td>
			</tr>
			<tr>
				<td>
					<p align="center">Монтажные работы</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Штробление
					гнезда под электрощит (в бетонной стене)</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 2400</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Штробление
					гнезда под электрощит (в кирпичной/пеноблочной стене)</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 1824</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					автомата</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 250</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					розетки, выключателя (без штробления) с механизмом и коробкой</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 240</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Штробление
					гнезда под выключатель, розетку (в бетонной стене)</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">460</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Штробление
					гнезда под выключатель, роз. (в кирпичной/пеноблочной стене)</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">230</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Штробление
					канала для проводки кабеля (в бетонной стене)</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">от 190</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Штробление
					канала для проводки кабеля (в кирпичной/пеноблочной стене)</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">от 130</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Проводка
					кабеля</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">48</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Проводка
					кабеля в гофре</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">77</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					светильника</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 288</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					трансформатора (на освещение)</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 288</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					и подключение люстры</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 480</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					электрощита</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 950</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Вентилятор
					(установка в вытяжку, подключение)</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 384</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Звонок
					– ремонт, установка</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 288</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					соединительной коробки + пропайка соединений</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 480</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Устройство
					теплых полов</p>
				</td>
				<td>
					<p align="center">м2</p>
				</td>
				<td>
					<p align="center">от 750</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Заделка
					штробы</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">48</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Сверление
					отверстий в ГКЛ</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">48</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Сверление
					отверстий в реечном потолке</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">77</p>
				</td>
			</tr>
			<tr>
				<th colspan="3">
					<p align="center">Сантехнические работы</p>
				</th>
			</tr>
			<tr>
				<td>
					<p align="center">Демонтажные работы</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					трубопроводов, канализационных труб</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">от 50</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж&nbsp; чугунной ванны</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 670</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Демонтаж
					сантехнических приборов</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 190</p>
				</td>
			</tr>
			<tr>
				<td>
					<p align="center">Монтажные работы</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					смесителя</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 380</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Раковины
					(без смесителя)</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 670</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					мойки кухонной</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 670</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					унитаза</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 1300</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					ванны чугунной</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 2100</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					ванны стальной</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 1200</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					душевой кабины с подключением</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 3550</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Радиатора,
					змеевика однотипного</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 1440</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					сифона раковины</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 192</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Обвязка
					ванны</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 336</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Штробление
					канала для разводки водопроводных труб (в бетоне +30%)</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">от 330</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Штробление
					канала для разводки фановых труб (в бетоне +30%)</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">от 450</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					фановых труб</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">от 180</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Установка
					электрических водонагревательных приборов</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 1450</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Подключение
					стиральной, посудомоечной машины</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 980</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					водопроводных труб</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">от 280</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Монтаж
					соединения (муфта, уголок, отвод, заглушка и т.д.)</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 29</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Окраска
					труб диаметром до 100мм</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">140</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Окраска
					труб диаметром свыше 100мм</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">150</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Окраска
					радиатора отопления</p>
				</td>
				<td>
					<p align="center">м.п.</p>
				</td>
				<td>
					<p align="center">от 300</p>
				</td>
			</tr>
			<tr>
				<th colspan="3">
					<p align="center">Погрузо-разгрузочные работы</p>
				</th>
			</tr>
			<tr>
				<td>
					<p>Выгрузка
					материалов, подъем на этаж (на лифте)</p>
				</td>
				<td>
					<p align="center">т.</p>
				</td>
				<td>
					<p align="center">от 2450</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Вынос, подъем на этаж ванны чугунной (на лифте)</p>
				</td>
				<td>
					<p align="center">шт.</p>
				</td>
				<td>
					<p align="center">от 1920</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Вынос мусора, погрузка в контейнер</p>
				</td>
				<td>
					<p align="center">т.</p>
				</td>
				<td>
					<p align="center">2450</p>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="clear-both"></div>
	<div class="include_element requestForm"  href="requestForm"></div>
</article>